*,*::before,*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #272727;
}

.container {
    display: block;
    justify-content: center;
    width: 500px;
    height: 650px;
    margin-top: 10px;
    padding-left: 50px;
    padding-top: 10px;
    border-radius: 20px;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
      10px 10px 70px rgba(0, 0, 0, 0.25), inset -5px -5px 15px rgba(0, 0, 0, 0.25),
      inset 5px 5px 15px rgba(0, 0, 0, 0.25);

}

.calculator-grid {
    display: grid;
    margin-top: 2px;
    height: 400px;
    grid-template-columns: repeat(4, 6.5rem);
    grid-template-rows: repeat(5, 6rem);
}



.calculator-grid > button {
  cursor: pointer;
  transition: 200ms;
  font-size: 1rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: #fff;
  place-items: center;
  margin: 8px;
  height: 80px;
  width: 80px;
  background: linear-gradient(90deg, #1f1e1e, #3f3f3f);
  user-select: none;
  cursor: pointer;
  font-weight: 400;
  border-radius: 10px;
}
.calculator-grid > button:active {
    filter: brightness(3);
}

.span-two {
    grid-column: span 2;
    cursor: pointer;
    transition: 200ms;
    font-size: 1.3rem;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    color: #fff;
    justify-content: center;
    font-weight: bold;
    margin: 8px;
    border: 1px solid rgb(20, 20, 20);
    height: 80px;
    width: 185px;
    background: linear-gradient(90deg, #ff0000, #cf2727);
    user-select: none;
    border-radius: 10px;
    padding-left: 75px;
    padding-top: 28px;
}

.span-two:active {
    filter: brightness(3);
}

.span-one {
    grid-column: span 2;
    cursor: pointer;
    transition: 200ms;
    font-size: 2rem;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    color: #fff;
    justify-content: center;
    font-weight: bold;
    margin: 8px;
    height: 80px;
    width: 185px;
    background: linear-gradient(90deg, #c26ee4, #74b2db);
    border: 1px solid rgb(20, 20, 20);
    user-select: none;
    border-radius: 10px;
    padding-left: 80px;
    padding-top: 22px;
}

.span-one:active {
    filter: brightness(3);
}


.footer {
    margin-top: 15px;
    text-align: center;
    grid-column: span 4;
    color: white;

}


.output {
    grid-column: 1 / -1;
    display: flex;
    font-family: "Kode Mono", monospace;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
    color: black;  
    border: none;
    outline: none;
    width: 390px;
    height: 100px;
    background-color: #a7af7c;
    margin-left: 9px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-right: 20px;
    text-align: right;
}

.output .previous-operand {
    color: rgba(44, 44, 44, 0.986);
    font-size: 1.5rem;
}

.output .current-operand {
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
}