*,*::before,*::after {
    box-sizing: border-box;
}

body {
    margin: 0%;
    background: linear-gradient(to top, #6cd675, #e7e6e6)
    
}
.calculator-grid {
    display: grid;
    margin-top: 1rem;
    justify-content: center;
    grid-template-columns: repeat(4, 7rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
  background-color: #f3f2f2;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  transition: 200ms;
  border: 1px solid black;
  font-size: 2rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  outline: 0;
  background: #9fabadd0;
  box-shadow: 0 0 0 1px rgba(0,0,0,1), 0 2px 7px 0 rgba(0,0,0,1);
}


.span-two {
    grid-column: span 2;
    background-color: #9fabadd0;

}

.footer {
    margin-top: 15px;
    text-align: center;
    grid-column: span 4;
}

.output {
    grid-column: 1 / -1;
    background-color: rgb(48, 47, 47);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 7px;

}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 3rem;
}